[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/xmledit"]
	path = vimfiles/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "vimfiles/bundle/snipmate"]
	path = vimfiles/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vimfiles/bundle/zencoding"]
	path = vimfiles/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vimfiles/bundle/tabular"]
	path = vimfiles/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vimfiles/bundle/vimwiki"]
	path = vimfiles/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "vimfiles/bundle/vim-powerline"]
	path = vimfiles/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vimfiles/bundle/surround"]
	path = vimfiles/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/vim-multiple-cursors"]
	path = vimfiles/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
