[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
        url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/AutoClose"]
	path = vimfiles/bundle/AutoClose
	url = https://github.com/vim-scripts/AutoClose.git
[submodule "vimfiles/bundle/xmledit"]
	path = vimfiles/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "vimfiles/bundle/supertab"]
	path = vimfiles/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vimfiles\\bundle\\supertab"]
	path = vimfiles\\bundle\\supertab
	url = https://github.com/ervandew/supertab.git
